Repository BrunoCiccarino/nekonight, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/nekonight/**"
          - all-globs-to-all-files:
              - "!lua/nekonight/groups/**"
              - "!lua/nekonight/colors/**"
              - "!lua/nekonight/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/nekonight/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/nekonight/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/nekonight/groups/base.lua"
          - "lua/nekonight/groups/kinds.lua"
          - "lua/nekonight/groups/treesitter.lua"
          - "lua/nekonight/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/nekonight/colors/**"

feat: adding nekonight mars
  colors/nekonight-mars.lua
  lua/nekonight/colors/mars.lua
Labels: colors

fix: fixxing license changes
  LICENSE
  extras/vscode/CHANGELOG.md
  extras/vscode/LICENSE
  extras/vscode/README.md
  extras/vscode/icon.png
  extras/vscode/package.json
  extras/vscode/src/classic/README.md
  extras/vscode/src/classic/colors.json
  extras/vscode/src/classic/primer.js
  extras/vscode/src/classic/process.js
  extras/vscode/src/classic/theme.js
  extras/vscode/src/colors.js
  extras/vscode/src/index.js
  extras/vscode/src/theme.js
  extras/vscode/yarn.lock
Labels: none

adding apache license from tokyo night repo
  LICENSE-1.txt
Labels: none

feat: creating themes directory for vscode
  extras/vscode/README.md
  extras/vscode/themes/.gitkeep
Labels: none

feat: adding tokyo night themes for vscode
  extras/vscode/themes/tokyo-night-color-theme.json
  extras/vscode/themes/tokyo-night-light-color-theme.json
  extras/vscode/themes/tokyo-night-storm-color-theme.json
Labels: none

feat: adding img directory
  extras/vscode/package.json
  extras/vscode/themes/light-default.json
  img/.gitkeep
Labels: none

Add files via upload
  img/nekonightbrown.jpg
Labels: none

feat: adding themes shades-of-purple shades-of-purple-dark and nord
  colors/nekonight-nord.lua
  colors/nekonight-shades-of-purple-dark.lua
  colors/nekonight-shades-of-purple.lua
  lua/nekonight/colors/nord.lua
  lua/nekonight/colors/shades-of-purple-dark.lua
  lua/nekonight/colors/shades-of-purple.lua
Labels: colors

feat: adding preview of the new themes
  img/neko-nord.jpg
  img/neko-shades-of-purple-dark.jpg
  img/neko-shades-of-purple.jpg
Labels: none

feat: adding preview of the themes
  README.md
Labels: none

feat: news and changelog, updating news and changelog
  CHANGELOG.md
  NEWS.md
Labels: none

fix: fixxing credits to authors
  extras/wezterm/nekonight_day.toml
  extras/wezterm/nekonight_moon.toml
  extras/wezterm/nekonight_night.toml
  extras/wezterm/nekonight_storm.toml
Labels: none

feat: adding shades of purple credits
  README.md
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Add files via upload
  img/nekonight.png
Labels: none

feat: adding nekonight vsce extension
  extras/vscode/README.md
  extras/vscode/img/nekonight.png
  extras/vscode/nekonight-0.0.1.vsix
  extras/vscode/package.json
Labels: none

fix: removing vsce package
  extras/vscode/nekonight-0.0.1.vsix
Labels: none

feat: adding logo
  README.md
  img/nekonight.png
  package-lock.json
  package.json
Labels: none

feat: adding support to fugit2 plugin
  lua/nekonight/groups/fugit2.lua
Labels: groups

feat: adding badges on readme
  README.md
Labels: none

feat: adding new colorscheme: fire obsidian neko-onedark
  lua/nekonight/colors/fire-obsidian.lua
  lua/nekonight/colors/onedark.lua
Labels: colors

feat: adding new colorschemes
  colors/nekonight-fire-obsidian.lua
  colors/nekonight-onedark.lua
Labels: none

feat: adding previews of themes
  img/neko-fire-obsidian.jpg
  img/neko-onedark.jpg
  img/nekonight-02.jpg
Labels: none

feat: improving readme
  NEWS.md
  README.md
Labels: none

feat: adding badge
  README.md
Labels: none

fix: fixxing readme descrition
  README.md
Labels: none

fix: fixing the badge
  README.md
Labels: none

fix: fixing the badge
  README.md
  extras/vim/colors/nekonight-day.vim
  extras/vim/colors/nekonight-moon.vim
  extras/vim/colors/nekonight-night.vim
  extras/vim/colors/nekonight-storm.vim
  extras/vim/colors/nekonight.vim
Labels: none

feat: adding badges on readme
  README.md
Labels: none

feat: adding new purple colorschemes
  colors/nekonight-noctis-uva.lua
  colors/nekonight-palenight.lua
  lua/nekonight/colors/noctis-uva.lua
  lua/nekonight/colors/palenight.lua
Labels: colors

feat: adding new previews image
  img/neko-coffee.mp4
  img/neko-noctis-uva.jpg
  img/neko-palenight.jpg
Labels: none

feat: adding new themes preview
  README.md
Labels: none

feat: changelog
  CHANGELOG.md
Labels: none

fix: fixxing themes preview
  README.md
Labels: none

fix: fixxing readme
  README.md
Labels: none

fix: fixxing readme packs preview
  README.md
  doc/pack1.md
  doc/pack2.md
Labels: none

fix: fixxing cursor colorscheme
  lua/nekonight/colors/noctis-uva.lua
  lua/nekonight/colors/nord.lua
  lua/nekonight/colors/palenight.lua
  lua/nekonight/colors/shades-of-purple-dark.lua
  lua/nekonight/colors/shades-of-purple.lua
Labels: colors

feat: adding gruvbox version for nekonight
  lua/nekonight/colors/gruvbox.lua
  lua/nekonight/colors/storm.lua
Labels: colors

feat: adding logo
  img/logo.png
Labels: none

feat: adding logo on readme
  README.md
  colors/nekonight-gruvbox.lua
Labels: none
